<app-sidebar></app-sidebar>
<div class="welcome-registration-container">
  <main class="welcome-registration-content">
    <section class="welcome-section">
      <h1>Welcome to the Registration!</h1>
      <p>
        We're excited to have you join us! Please take a moment to fill out the registration form by clicking the button below.
      </p>
      <p>
        If you have already registered, feel free to explore your profile or login to update your details.
      </p>
      <a routerLink="/register" class="custom-button">Go to Registration</a>
    </section>
  </main>
</div>
