.bg-orange {
  background-color: orange !important;
}

.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  width: 100%;
}

li {
  text-align: center;
  padding: 15px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.toggle-container {
  text-align: center;
}
