<app-header></app-header>
<div class="home-container">

  <section class="about-section text-center py-4">
    <h1 class="text-uppercase text-ce pt-5">Welcome to The Roll of Glory</h1>
    <p class="p-5">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget tincidunt elit. Nulla vehicula, magna ut scelerisque fringilla, purus enim pellentesque nisi, nec efficitur purus nunc nec urna. Pellentesque malesuada id eros non condimentum. Duis tristique, sapien ut lacinia tincidunt, tortor ligula egestas sem, non dictum arcu justo non velit. Mauris ultricies mollis ligula non gravida. Fusce sit amet mi odio. Donec vitae nibh sit amet lorem tincidunt tristique a id metus. Donec pulvinar nulla at lacus pharetra, vel dignissim nisi tristique. Quisque sit amet dictum elit, quis porttitor ex. Sed at orci in dolor fringilla sollicitudin eget nec lorem. Curabitur in feugiat nunc, sit amet bibendum arcu. Nam vitae fringilla ligula. Fusce venenatis luctus ex vel euismod.

    </p>

    <div class="button-container d-grid pb-4">

      <button *ngIf="registrationOpen" routerLink="/register" class="custom-button">Join Us</button>
      <button routerLink="/login" class="custom-button">Login</button>
    </div>
    <div class="background-section">
      <img src="Roll of Glory Logo.png" alt="Description" class="corner-image">
    </div>
  </section>

  <div class="scrolling-image-container">
    <img id="scrollingImage" src="/images/Cheese-Rolling-Woman-Winner-FT-BLOG0622-7d0900538c984a7c87ec81d8d22b21f7.jpg" alt="Scrolling Image" />
  </div>


  <section class="articles-section p-4 bg-orange ">
    <div class="row pt-5">
      <h1 class="text-uppercase text-center pb-5">Featured events</h1>
      <div class="col-md-6" *ngFor="let article of articles">
        <div class="card mb-4">
          <img ngSrc="article.image" class="card-img-top" alt="Article Image">
          <div class="card-body">
            <p class="card-text">{{ article.text }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>
