<app-sidebar></app-sidebar>
<div class="registration-container">
  <main class="registration-content">
    <section class="registration-form-section">
      <h1>Create a New Account</h1>
      <form (ngSubmit)="submitForm()" [formGroup]="registerForm" class="form-group">
        <!-- Name and Email -->
        <div class="form-section">
          <h3>Personal Information</h3>
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" id="name" formControlName="name" class="form-control" required />
          </div>
          <div class="mb-3">
            <label for="surname" class="form-label">Surname</label>
            <input type="text" id="surname" formControlName="surname" class="form-control" required />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" formControlName="email" class="form-control" required />
          </div>
        </div>

        <!-- Password -->
        <div class="form-section">
          <h3>Password</h3>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" formControlName="password" class="form-control" required />
          </div>
          <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input
              type="password"
              id="confirmPassword"
              formControlName="confirmPassword"
              class="form-control"
              required
            />
          </div>
        </div>

        <button type="submit" class="custom-button" [disabled]="registerForm.invalid">Register</button>
      </form>

      <!-- Login with Google Button -->
      <button type="button" class="custom-button">Login with Google</button>
    </section>
  </main>
</div>
